/* @media (max-width: 1502px) {
    .mountain__img {
        margin-left: 30px;
    }
    .prefooter__title {
        margin-top: 120px;
    }
}

@media (max-width: 1440px) {
    .mountain__descr {
        width: 550px;
    }
    .mountain__img {
        margin-left: 0;
    }
    .man__wrapper {
        margin-left: 50px;
    }
    .man__descr {
        width: 550px;
    }
    .concept {
        margin-top: 200px;
    }
    .concept__text-title {
        width: 220px;
    }
    .concept__text-descr.h-217 {
        width: 460px;
    }
    .dark {
        padding-top: 95px;
    }
    .feedback {
        margin-top: 200px;
    }
    .feedback__pos {
        width: 180px;
    }
    .hand__line {
        width: 560px;
    }
    .prefooter__title {
        width: 600px;
        margin-top: 100px;
        font-size: 64px;
    }
    .prefooter__btn {
        margin-top: 68px;
    }
} */